<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>TODO-app</title>
</head>
<body>
    <header class="shadow">
        <h1 class="text-center">TODO app</h1>
    </header>
    
    <main class="container">
        <div class="row m-3">
                <h4><%= username %></h4>
                <form action="/logout" method="POST">
                    <button class="btn btn-danger ml-3">log out</button>
                </form>
        </div>

        <div class="row mb-5">
            <div class="col">
                <div>
                    <button id="add-todo-toggler" class=" my-5 btn btn-block btn-primary">add new TODO</button>
                </div>
                <div class="card shadow" id="add-todo-div">
                    <div class="card-header bg-success">
                        <h3 class="text-center text-white">Add new TODO</h3>
                    </div>
                    <div class="card-body">
                        <form action="/todos" method="POST">
                            <div class="form-group">
                                <label for="title">title</label>
                                <input type="text" class="form-control" name="title" id="title" required>
                            </div>
                            <div class="form-group">
                                <label for="description">description</label>
                                <textarea class="form-control" name="description" id="description" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="deadline">deadline</label>
                                <input type="date" class="form-control" name="deadline" id="deadline">
                            </div>
                            <div class="form-group">
                                <label for="priority">priority</label>
                                <select class="form-control" name="priority" id="priority">
                                    <option value="low">low</option>
                                    <option value="medium">medium</option>
                                    <option value="high">high</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="status">status</label>
                                <select class="form-control" name="status" id="status">
                                    <option value="pending">pending</option>
                                    <option value="in-progress">in-progress</option>
                                    <option value="finished">finished</option>
                                </select>
                            </div>
                            <button class="btn btn-success btn-block mt-5" type="submit">Add TODO</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col">
                <h1 class="text-center">TODOS</h1>
                <table class="table">
                    <tr class="bg-primary text-white">
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">deadline</th>
                        <th scope="col">priority</th>
                        <th scope="col">status</th>
                        <th scope="col"></th>
                    </tr>
                    <% todos.forEach((todo) => { %>
                        <tr id="<%=todo._id.toString()%>">
                            <td><%=todo.title %></td>
                            <td><%=todo.description %></td>
                            <td><%= todo.deadline %></td>
                            <td><%= todo.priority %></td>
                            <td><%= todo.status %></td>
                            <td><button class="delete btn btn-danger">&times;</button></td>
                        </tr>
                    <% }); %>
                    
                </table>
            </div>
        </div>
    </main>


    <div class="modal">
        <div class="card m-5">
            <div class="card-header">
                <h3>Edit todo
                    <span>&times;</span>
                </h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="titleEdit">title</label>
                                <input type="text" class="form-control" name="titleEdit" id="titleEdit" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="descriptionEdit">description</label>
                                <textarea class="form-control" name="descriptionEdit" id="descriptionEdit" required></textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label for="deadlineEdit">deadline</label>
                                <input type="date" class="form-control" name="deadlineEdit" id="deadlineEdit">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label for="priorityEdit">priority</label>
                                <select class="form-control" name="priorityEdit" id="priorityEdit">
                                    <option value="low">low</option>
                                    <option value="medium">medium</option>
                                    <option value="high">high</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label for="statusEdit">status</label>
                                <select class="form-control" name="statusEdit" id="statusEdit">
                                    <option value="pending">pending</option>
                                    <option value="in-progress">in-progress</option>
                                    <option value="finished">finished</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" id="btn-save">save changes</button>
                <button class="btn btn-secondary" id="btn-close">cancel</button>
            </div>
        </div>
    </div>

    <script src="/script.js"></script>
</body>
</html>